
body { 
	margin: 0 auto;
	padding: 0 auto;
} 

@media only screen and (max-width: 600px) {   
    /* Menu */ 
    nav {
    	background: #128C7E;
    	color: #fff;
    }

    .d-flex {
    	background: #128C7E;
    	color: #fff;
    }

    .nav-link {
    	color: #fff;
    }

    #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #f3f3f3;
        background-color: transparent;
        border-color: transparent transparent #f3f3f3;
        border-bottom: 5px solid !important;
        font-size: 20px;
        font-weight: bold;
    }
    #tabs .nav-tabs .nav-link {
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        font-size: 20px;
    } 

    /* Menu ends */
    /* Chat section */
    .chat-list {
    	display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        align-content: space-between;
        align-items: center;
        justify-content: center;
    }

    .user-img{
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        margin: 0 1rem;
    }

    .person-name {
        width: 230px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: center;
    }

    .person-name h1 {
    	font-size: 21px;
    	margin-bottom: 5px;
    }

    .person-chat {
    	font-size: 16px;
    	margin-bottom: 0px !important;
    }

    .last-chat-time{
        margin: 0px !important;
        display: flex;
    	color: #000;
    	align-items: center;
    }
    /* Chat section ends */
    /* calls section */
    .caller-name {
    	width: 200px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: center;
    }

    .caller-name h1 {
    	font-size: 21px;
    	margin-bottom: 5px;
    }

    .call-history {
    	display: flex;
    	justify-content: flex-start;
    	position: relative;
    	color: #000;
    	align-items: center;
    }

    .call-icons{
        margin: 0px !important;
        display: flex;
    	color: #000;
    	align-items: center;
    }

    .calls-list {
    	display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        align-content: space-between;
        align-items: center;
        justify-content: center;
    } 
    /* Calls Section ends */

}
